body {
    text-align: center;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    background-color: black;
    color: aliceblue;
}

h1 {
    color: yellow;
}

.grid-container {
    display: grid ;
    grid-template-columns: repeat(3, auto);
}

.grid-item {
    margin-bottom: 20px;
}

@media all and (max-width: 600px){
    .grid-container {
        grid-template-columns: auto auto;
    }
}