body {
    text-align: center;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.grid-container {
    display: grid ;
    grid-template-columns: repeat(3, auto);
}

.grid-item {
    margin-bottom: 20px;
}